@page "/assignments"

<PageTitle>Assignments</PageTitle>

<MudContainer Style="background-color: lightgray;">
    <MudText Typo="Typo.h4" Color="Color.Warning">Unfinished section</MudText>
    <h1>MVSRA Assignment Portals</h1>

    <h2>Arbiter Portal</h2>
    <p>Coming soon...</p>

    <h2>RQ+ Portal</h2>
    <p>Coming soon...</p>

    <h2>Game Officials Portal</h2>
    <p>Coming soon...</p>
</MudContainer>