@page "/blog"

<PageTitle>Blog</PageTitle>

<MudContainer Style="background-color: lightgray;">
    <MudText Typo="Typo.h4" Color="Color.Warning">Unfinished section</MudText>
    <h1>MVSRA Blog</h1>

    <h2>Hot Info</h2>
    <p>Coming soon...</p>

    <h2>Uniforms</h2>
    <p>Coming soon...</p>

    <h2>Rules</h2>
    <p>Coming soon...</p>

    <h2>Resources</h2>
    <p>Coming soon...</p>

    <h2>Store</h2>
    <p>Coming soon...</p>
</MudContainer>
<br />