@page "/"

<PageTitle>Home</PageTitle>

<MudPaper Elevation="0" Width="100%">
    <MudStack Row="true">
        <MudPaper Elevation="0" Width="50%">
            <MudStack AlignItems="AlignItems.Center">
                <MudImage Src="icon-250.png" Style="width: 50%;" ObjectFit="ObjectFit.ScaleDown" ObjectPosition="ObjectPosition.Center" />
                <MudText Align="Align.Center" Typo="Typo.h6">Mohawk Valley Soccer Referee Association</MudText>
                <MudText Align="Align.Center" Typo="Typo.h6"><b>(MVSRA)</b></MudText>
            </MudStack>
        </MudPaper>
        <MudPaper Elevation="0" Width="50%">
            <ImageCarousal />
        </MudPaper>
    </MudStack>

    <MudContainer Style="background-color: lightgray;">
        <MudText Typo="Typo.h4" Color="Color.Warning">Unfinished section</MudText>
        <h1>MVSRA - MEMBER ENYYSA & ENYSSA</h1>
        <br />
        <br />
        <h2>Next Meeting Info</h2>
        <h3>General Membership:</h3>
        <i>Date:</i> Thursday, November 16, 2023
        <br />
        <i>Time:</i> 6:00 PM
        <br />
        <i>Location:</i>TBD
        <br />
        <i>Who:</i>
        <br />
        <ul>
            <li>All Members</li>
            <li>Prospective Referees</li>
        </ul>
        <br />
        <i>Agenda:</i>
        <br />
        <ul>
            <li>Business Meeting</li>
        </ul>
        <br />

        <h2>Notifications</h2>
        <ul>
            <li>Local Dues!!!</li>
        </ul>

        <h2>Officers</h2>
        <ul>
            <li>President - Kit Hutchinson</li>
            <li>Vice President - Mike Popowski</li>
            <li>Secretary - Anthony Chiffy</li>
            <li>Treasurer - Bjorn Solli</li>
            <li>Assignor - Kevin Waters</li>
        </ul>
    </MudContainer>
</MudPaper>