@page "/"

<PageTitle>Home</PageTitle>

<MudPaper Elevation="0" Width="100%">
    <MudStack Row="true">
        <MudPaper Elevation="0" Width="50%">
            <MudStack AlignItems="AlignItems.Center">
                <MudImage Src="icon-250.png" Style="width: 50%;" ObjectFit="ObjectFit.ScaleDown" ObjectPosition="ObjectPosition.Center" />
                <MudText Align="Align.Center" Typo="Typo.h6">Mohawk Valley Soccer Referee Association</MudText>
                <MudText Align="Align.Center" Typo="Typo.h6"><b>(MVSRA)</b></MudText>
            </MudStack>
        </MudPaper>
        <MudPaper Elevation="0" Width="50%">
            <ImageCarousal />
        </MudPaper>
    </MudStack>

    <NextMeeting />
    <br/>

    <MudText Typo="Typo.h6">Officers:</MudText>
    <MudText Typo="Typo.body1"><b>President:</b> Kit Hutchinson</MudText>
    <MudText Typo="Typo.body1"><b>Vice President:</b> Mike Popowski</MudText>
    <MudText Typo="Typo.body1"><b>Secretary:</b> Anthony Chiffy</MudText>
    <MudText Typo="Typo.body1"><b>Treasurer:</b> Bjorn Solli</MudText>
    <MudText Typo="Typo.body1"><b>Assignor:</b> Kevin Waters</MudText>
    <br/>

    <MudContainer Style="background-color: lightgray;">
        <MudText Typo="Typo.h4" Color="Color.Warning">Unfinished section</MudText>
        <h2>Notifications</h2>
        <ul>
            <li>Local Dues!!!</li>
        </ul>
    </MudContainer>
    <br/>
</MudPaper>