@page "/leagues"

<PageTitle>Leagues</PageTitle>

<MudContainer Style="background-color: lightgray;">
    <MudText Typo="Typo.h4" Color="Color.Warning">Unfinished section</MudText>
    <h1>MVSRA Leagues</h1>

    <h2>The Thruway League</h2>
    <p>Coming soon...</p>

    <h2>NYW Champions Conference</h2>
    <p>Coming soon...</p>

    <h2>Development Player League (DPL)</h2>
    <p>Coming soon...</p>

    <h2>Elevate CNY Sports Complex</h2>
    <p>Coming soon...</p>

    <h2>AYSO</h2>
    <p>Coming soon...</p>
</MudContainer>
<br />