@page "/registration"

<PageTitle>Registration</PageTitle>

<MudContainer Style="background-color: lightgray;">
    <MudText Typo="Typo.h4" Color="Color.Warning">Unfinished section</MudText>
    <h1>MVSRA Registration</h1>

    <h2>Yearly Registration</h2>
    <p>Coming soon...</p>

    <h2>How to Become a US Soccer Referee</h2>
    <p>Coming soon...</p>

    <h2>Soccer Referee Classes for 2023</h2>
    <p>Coming soon...</p>
</MudContainer>