@page "/blog"

@using BlazingApple.Forums.Components.Forums
@using BlazingApple.Forums.Shared.Models.Communities
@using BlazingApple.Forums.Shared.Models.Forums

<head>
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="_content/BlazingApple.Components/css/blazingAppleComponents.css" rel="stylesheet" />
    <link href="_content/BlazingApple.Components/BlazingApple.Components.bundle.scp.css" rel="stylesheet" />
</head>
<body>
    <script src="_content/BlazingApple.Components/scripts/blazingAppleComponents.js?cacheBust={version}"> </script>
    <script src="https://kit.fontawesome.com/b7d59bd007.js" crossorigin="anonymous"> </script>
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"> </script>
    <script src="_content/Blazored.TextEditor/quill-blot-formatter.min.js"> </script>
    <script src="_content/Blazored.TextEditor/Blazored-BlazorQuill.js"> </script>
</body>

<PageTitle>Blog</PageTitle>

<ForumList Forums="@_forums" />

@code {
    private List<IForum>? _forums;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        _forums = new List<IForum>
        {
            GetForum("MVSRA Blog", "Coming soon..."),
            GetForum("Hot Info", "Coming soon..."),
            GetForum("Uniforms", "Coming soon..."),
            GetForum("Rules", "Coming soon..."),
            GetForum("Resources", "Coming soon..."),
            GetForum("Store", "Coming soon...")
        };
    }

    private static IForum GetForum(string title, string description)
    {
        string slug = Convert.ToBase64String(Guid.NewGuid().ToByteArray());
        slug = slug[..^2]
            .Replace('/', '-')
            .Replace('+', '_');

        return new Forum()
            {
                Id = Guid.NewGuid(),
                Slug = slug,
                Title = title,
                Description = description,
                IsPublic = true,
                Communities = new List<IForumCommunity>(),
            };
    }
}