@using MVSRA.Client.Modules

@inject CookieRepository CookieRepo

<div class="WelcomeBanner">
    @if (isNewUser)
    {
        <MudPaper Elevation="5" Width="100%" Class="mb-6">
            <MudCard Elevation="0">
                <MudCardHeader Class="pb-0">
                    <MudText Typo="Typo.h6"><MudHidden Breakpoint="Breakpoint.Xs">Whistle Your Way to Success - </MudHidden>Start Your Referee Journey <MudLink Color="Color.Info" Typo="Typo.h6" Href="/registration">Here</MudLink>!</MudText>
                </MudCardHeader>
                <MudCardContent Class="pt-0 pb-0">
                    <MudText Typo="Typo.subtitle2">
                        We use <MudLink Color="Color.Info" Typo="Typo.subtitle2" Href="https://www.merriam-webster.com/dictionary/cookie">cookies</MudLink> to store some information on your device.
                        This allows you to access certain features, like saved articles or forms, even when you're not connected to the internet.
                        It's like having a little referee handbook you can always access!
                    </MudText>
                </MudCardContent>
                <MudCardActions Class="justify-end pa-1">
                    <MudStack Row="true" Wrap="Wrap.Wrap" Justify="Justify.Center">
                        <MudButton Variant="Variant.Filled" Color="Color.Success" @onclick="AcceptCookies">Accept Cookies</MudButton>
                        <MudButton Variant="Variant.Filled" Color="Color.Error" @onclick="DisableCookies">Disable Offline Mode</MudButton>
                    </MudStack>
                </MudCardActions>
            </MudCard>
        </MudPaper>
    }
</div>

@code {
    private bool isNewUser = false;

    protected override async Task OnInitializedAsync()
    {
        isNewUser = await CookieRepo.IsNewUser();
    }

    private async Task AcceptCookies()
    {
        await CookieRepo.SetNewUser();
        isNewUser = false;
    }

    private async Task DisableCookies()
    {
        await CookieRepo.SetNewUser(true);
        isNewUser = false;
    }
}
