@page "/"

<PageTitle>Home</PageTitle>

<MudStack Row="true">
    <MudPaper Elevation="0">
        <h1>Mohawk Valley Soccer Referee Association</h1>
        MVSRA - MEMBER ENYYSA & ENYSSA
        <br />
        <br />
        <h2>Next Meeting Info</h2>
        <h3>General Membership:</h3>
        <i>Date:</i> Thursday, November 16, 2023
        <br />
        <i>Time:</i> 6:00 PM
        <br />
        <i>Location:</i>TBD
        <br />
        <i>Who:</i>
        <br />
        <ul>
            <li>All Members</li>
            <li>Prospective Referees</li>
        </ul>
        <br />
        <i>Agenda:</i>
        <br />
        <ul>
            <li>Business Meeting</li>
        </ul>
    </MudPaper>
    <MudPaper Elevation="10" Width="500px" Height="300px" MaxWidth="50%" MaxHeight="50%">
        <ImageCarousal />
    </MudPaper>
</MudStack>

<br />

<h2>Notifications</h2>
<ul>
    <li>Local Dues!!!</li>
</ul>

<h2>Officers</h2>
<ul>
    <li>President - Kit Hutchinson</li>
    <li>Vice President - Mike Popowski</li>
    <li>Secretary - Anthony Chiffy</li>
    <li>Treasurer - Bjorn Solli</li>
    <li>Assignor - Kevin Waters</li>
</ul>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />