@page "/meetings"

<PageTitle>Meetings</PageTitle>

<h1>2023 Calendar</h1>
<ul>
    <li>Sunday, March 5, 6:00 PM</li>
    <li>Sunday, April 16, 6:00 PM CANCELED</li>
    <li>Sunday, May 7, 6:00 PM</li>
    <li>Thursday, June 15, 6:00 PM</li>
    <li>Thursday, July 13, 6:00 PM</li>
    <li>Thursday, November 16, 6:00 PM (Election of Officers)</li>
</ul>

<h1>Previous Calendars</h1>
<h2>2022</h2>
<ul>
    <li>Thursday, March 3, 6:00 PM</li>
    <li>Thursday, April 7, 6:00 PM</li>
    <li>Thursday, May 5, 6:00 PM</li>
    <li>Thursday, June 9, 6:00 PM</li>
    <li>Thursday, July 7, 6:00 PM</li>
    <li>Thursday, August 4, 6:00 PM – Canceled</li>
    <li>Thursday, November 17, 6:00 PM</li>
</ul>